body {
  background-color: #F7F7F7;
}


.dropdown {
  position: static !important;
}



.dropdown-menu {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
  margin-top: 0px !important;
  width: 100% !important;
  border-radius: 0;
}

.navbar .navbar-nav .nav-item {
  position: relative;

}

.nav-link {
  color: #000 !important;
}

.nav-link:hover {
  color: #0C71B8 !important;
}

.navbar .navbar-nav .nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0C71B8;
  width: 0%;
  content: "";
  height: 4px;
  transition: all 0.5s;
}

.navbar .navbar-nav .nav-item:hover::after {
  width: 100%;
}

.dropdown-toggle::after {
  display: none;
}


.stretched-link {
  text-decoration: none;
  color: #000;

}

.stretched-link:hover {
  color: #0C71B8;
}



/*footer part */


.footer {
  background-color: #343434 !important;
  color: #fff !important;
}


/*footer end */


/*Card */

.card {
  border-radius: 0 !important;
  border: 0px;
}

.card-title {
  margin-top: 0px;
  margin-bottom: 10px;
}

.section-card {
  margin-top: 5px;
  margin-bottom: 5px;
}




.section-card:hover {
  box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.2);
  transition-duration: 600ms;
}

.card-link {
  border-color: #0C71B8 !important;
  border-radius: 0 !important;
  background-color: #fff !important;

}


.card-link:hover {
  background-color: #0C71B8 !important;
  color: #fff;
}


/*Card end */



/*Fade Flash */
.fade-flash {
  animation: fadeFlash 6s;
}

@keyframes fadeFlash {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}

/*Fade Flash end */



.banner-title {
  border-left: 1px solid;
}





.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}

.active.fade-left {
  animation: fade-left 1s ease-in;
}

.active.fade-right {
  animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}



@media only screen and (max-width: 991px) {
  .navbar-collapse{
    background: #343434;

  }

  .nav-link{
    margin-left: 10px;
    color: rgb(226, 226, 226) !important;
  }
}


.menu{
  margin-top: 0px 5px 5px 5px !important;
  padding-top: 0px 5px 5px 5px !important;

}

.menu a{
  text-decoration: none;
  color:#000;
}

.menu a:hover {
  color: #0C71B8 !important;
}