{% load static %}
<div class="container my-5">
    <div class="container">
        <div class="row">
            <h2 class="banner-title fade-up"><span class="mx-1">{{title}}</span></h2>
            
        </div>
        
        
    </div>
    
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="{% static 'img/banner.jpg' %}" alt="First slide">
          </div>
        </div>
      </div>

</div>