{% extends 'base.html' %}
{%load static%} 
{% block title %} Home{% endblock title %}
<div class="container">
  {% block body %} 
  {% include 'carousel.html' %} 
  {% include 'trendy-item-section.html' %} 

  {% include 'watch-banner-section.html' with title="WATCH" %} 
  {% include 'watch-section.html' with col="col-md-3" %} 

  {% include 'audio-banner-section.html' with title="AUDIO" %} 
  {% include 'audio-section.html' with col="col-md-3" %} 
  {% include 'image.html' %} 
  {% include 'news.html' %} {% include 'footer.html' %} {% endblock body %}
</div>
