{% load static %}

<div class="container my-5 reveal fade-right">
  <div class="row">
    <div class="{{col}}">
      <div class="card section-card">
        <img
          src="{% static 'img/watch.jpg' %}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body text-center">
          <h5 class="card-title">ANOVA HP222</h5>
          <a href="#" class="btn btn-primary stretched-link card-link">View Profile</a>
        </div>
      </div>
    </div>

    <div class="{{col}}">
      <div class="card section-card">
        <img
          src="{% static 'img/watch.jpg' %}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body text-center">
          <h5 class="card-title">ANOVA HP222</h5>
          <a href="#" class="btn btn-outline-primary stretched-link card-link">View Profile</a>
        </div>
      </div>
    </div>
    <div class="{{col}}">
      <div class="card section-card">
        <img
          src="{% static 'img/watch.jpg' %}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body text-center">
          <h5 class="card-title">ANOVA HP222</h5>
          <a href="#" class="btn btn-primary stretched-link card-link">View Profile</a>
        </div>
      </div>
    </div>
    <div class="{{col}}">
      <div class="card section-card">
        <img
          src="{% static 'img/watch.jpg' %}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body text-center">
          <h5 class="card-title">ANOVA HP222</h5>
          <a href="#" class="btn btn-primary stretched-link card-link">View Profile</a>
        </div>
      </div>
    </div>
    <div></div>
  </div>
</div>
